# ──────────────────────────────────────────────
#  Environment variable template
#  Copy this file to .env and fill in the values
#  $ cp .env.example .env
# ──────────────────────────────────────────────

PORT=9098
ATTENDANCE_API_URL=http://localhost:9091
ATTENDANCE_API_KEY=
MAINTENANCE_API_KEY=
PARENT_ORG_ID=2
ACTIVITY_ID=4
WHATSAPP_TO_1=
WHATSAPP_TO_2=
CRON_SCHEDULE=0 0 10 * * *
